# Estruturas de Dados em Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
stock = {'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88],
                           index = ['Closing price','EPS','Shares Outstanding(M)', 
                                  'Beta', 'P/E','Market Cap(B)']),
         'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
                            index = ['Closing price','EPS','Shares Outstanding(M)',
                                  'Beta','P/E','Market Cap(B)']),
         'FB': pd.Series([61.48,0.59,2450,104.93,150.92],
                            index = ['Closing price','EPS','Shares Outstanding(M)',
                                  'P/E', 'Market Cap(B)']),
         'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
                            index=['Closing price','EPS','Shares Outstanding(M)',
                                  'P/E','Beta', 'Market Cap(B)']),
         'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
                            index=['Closing price','EPS','Shares Outstanding(M)',
                                  'Market Cap(B)']),
         'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
                            index=['Closing price','EPS','Shares Outstanding(M)','P/E',
                                  'Market Cap(B)','Beta'])}

In [3]:
type(stock)

dict

In [12]:
#criação do dataframe
stock_dataframe = pd.DataFrame(stock)

In [5]:
stock_dataframe

                         AMZN     GOOG       FB     YHOO    TWTR    AAPL
Beta                     0.52     0.87      NaN     0.66     NaN    0.84
Closing price          346.15  1133.43    61.48    34.90   65.25  501.53
EPS                      0.59    36.05     0.59     1.27   -0.30   40.32
Market Cap(B)          158.88   380.64   150.92    35.36   36.23  447.59
P/E                    589.80    31.44   104.93    27.48     NaN   12.44
Shares Outstanding(M)  459.00   335.83  2450.00  1010.00  555.20  892.45

In [6]:
#criar data frame passando os indices
stock_dataframe = pd.DataFrame(stock , 
                              index = ['Shares Outstanding(M)',
                                       'P/E',
                                    'Market Cap(B)',
                                    'EPS',
                                      'Closing price', 
                                      'Beta'])

In [7]:
stock_dataframe

                         AMZN     GOOG       FB     YHOO    TWTR    AAPL
Shares Outstanding(M)  459.00   335.83  2450.00  1010.00  555.20  892.45
P/E                    589.80    31.44   104.93    27.48     NaN   12.44
Market Cap(B)          158.88   380.64   150.92    35.36   36.23  447.59
EPS                      0.59    36.05     0.59     1.27   -0.30   40.32
Closing price          346.15  1133.43    61.48    34.90   65.25  501.53
Beta                     0.52     0.87      NaN     0.66     NaN    0.84

In [8]:
#criar dataframe passando os indices e colunas
stock_dataframe = pd.DataFrame(stock , 
                              index = ['Shares Outstanding(M)',
                                       'P/E',
                                    'Market Cap(B)',
                                    'EPS',
                                      'Closing price', 
                                      'Beta'],
                              columns = ['AMZN'])

In [9]:
stock_dataframe

                         AMZN
Shares Outstanding(M)  459.00
P/E                    589.80
Market Cap(B)          158.88
EPS                      0.59
Closing price          346.15
Beta                     0.52

In [14]:
stock_dataframe.index

Index(['Beta', 'Closing price', 'EPS', 'Market Cap(B)', 'P/E',
       'Shares Outstanding(M)'],
      dtype='object')

In [13]:
stock_dataframe.columns

Index(['AMZN', 'GOOG', 'FB', 'YHOO', 'TWTR', 'AAPL'], dtype='object')