# Estruturas de dados em Pandas

### pandas.Series() - 1 Dimensão 2D
### pandas.DataFrame() - 2 Dimensões 2D
### pandas.Panel() - 3 Dimensões 3D
### numpy.ndarray() x Dimensões

In [12]:
import pandas as pd
import numpy as np

In [13]:
#criação conjuntos rand com pandas
np.random.seed(100)
Serie1 = pd.Series(np.random.rand(10)) ;Serie1

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
7    0.825853
8    0.136707
9    0.575093
dtype: float64

In [14]:
type(Serie1)

pandas.core.series.Series

In [15]:
import calendar as cal

In [16]:
#criar um calendario com os indexes dos meses 
meses = [cal.month_name[i] for i in np.arange(1,13)]
meses_Series1 = pd.Series(np.arange(1,13), index = meses) ; meses_Series1

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int32

In [18]:
meses_Series1.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [20]:
#criação de dataset
dict1 = {'US' : 'dollar' , 'UK' : 'pound', 'Germany' : 'euro', 'Brazil' : 'real' , 'China' : 'yuan' , 'Japao' : 'yen'}

In [22]:
#exibição
moeda_Series1 = pd.Series(dict1);moeda_Series1

US         dollar
UK          pound
Germany      euro
Brazil       real
China        yuan
Japao         yen
dtype: object

In [28]:
stockPrices = {'GOOGLE': 1500.82 , 'META' : 582.20 , 'TWTR' : 282.20 , 'AMAZON' : 747.10 , 'AAPLE' : 2072}
stockPricesSeries = pd.Series(stockPrices,
                             index = ['GOOGLE' , 'META' , 'YAHOO' , 'TWTR', 'AMAZON' , 'AAPLE'],
                             name = 'stockPrices')

In [29]:
stockPricesSeries

GOOGLE    1500.82
META       582.20
YAHOO         NaN
TWTR       282.20
AMAZON     747.10
AAPLE     2072.00
Name: stockPrices, dtype: float64

In [32]:
humanSerie = pd.Series('Human', index = ['Pernas' , 'Tronco','Braços', 'Cabeça' ])
humanSerie

Pernas    Human
Tronco    Human
Braços    Human
Cabeça    Human
dtype: object

# Operações com Series

In [34]:
#obtendo um valor
dict1['China']

'yuan'

In [35]:
#Alterar Elementos
stockPricesSeries['GOOGLE'] = 1200

In [36]:
stockPricesSeries['GOOGLE']

1200.0

In [39]:
stockPricesSeries.get('XPTO', np.NaN)

nan

In [44]:
#returna a partir do 3 indice
stockPricesSeries[3:]

TWTR       282.2
AMAZON     747.1
AAPLE     2072.0
Name: stockPrices, dtype: float64

In [45]:
#retorna até o index 3
stockPricesSeries[:3]

GOOGLE    1200.0
META       582.2
YAHOO        NaN
Name: stockPrices, dtype: float64

In [47]:
#returna valores maior que 600
stockPricesSeries[stockPricesSeries > 600]

GOOGLE    1200.0
AMAZON     747.1
AAPLE     2072.0
Name: stockPrices, dtype: float64

In [48]:
#média dos valores
np.mean(stockPricesSeries)

976.7

In [50]:
#cálculo de desvio padrão
np.std(stockPricesSeries)

622.9320412372444