In [18]:
import pandas as pd
import numpy as np

In [2]:
stockData = np.array([[[63.03,61.48,75],
                     [62.05,62.75,46],
                     [62.74,62.19,53]],
                   [[411.90, 404.38, 2.9],
                    [405.45, 405.91, 2.6],
                    [403.15, 404.42, 2.4]]])

In [3]:
stockData

array([[[ 63.03,  61.48,  75.  ],
        [ 62.05,  62.75,  46.  ],
        [ 62.74,  62.19,  53.  ]],

       [[411.9 , 404.38,   2.9 ],
        [405.45, 405.91,   2.6 ],
        [403.15, 404.42,   2.4 ]]])

In [4]:
type(stockData)

numpy.ndarray

In [ ]:
stockHistoricalPrices = pd.Panel(stockData,
                                items =['FB','NFLX'],
                                major_axis = pd.date_range('2/3/2016', periods = 3),
                                minor_axis = ['open price' , 'closing price', 'volume'])

In [5]:
#Criação data Frame
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [6]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [9]:
#Criação DataFrame
ChinaData = pd.DataFrame(np.array([[1133, 390],
                                [1250 , 1400],
                                [1600 , 1500]]),
                        columns= ['População(M)','PIB($B)'],
                        index = [1995,2005,2015])

In [10]:
ChinaData

      População(M)  PIB($B)
1995          1133      390
2005          1250     1400
2015          1600     1500

In [11]:
#Concatenar os 2 DataFrames
US_ChinaData = {'US': USData,
               'China': ChinaData}

In [12]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995          1133      390
 2005          1250     1400
 2015          1600     1500}