In [1]:
import sys
import pandas as pd
import numpy as np
print(sys.version)
pd.__version__

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

'1.3.4'

In [3]:
# Usando NumPy
array1 = np.array([1, 2, 3, np.nan]) ;array1

array([ 1.,  2.,  3., nan])

In [4]:
array1.mean()

nan

In [5]:
# Usando Pandas
serie = pd.Series([1, 2, 3, np.nan]) ;serie

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [6]:
serie.mean()

2.0

### Concatenar Series

In [7]:
np.random.seed(567)

In [9]:
seriePD = pd.Series(np.random.rand(5)) ;seriePD

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [11]:
seriePD1 = pd.Series(np.random.rand(5)) ;seriePD1

0    0.153667
1    0.336960
2    0.782997
3    0.616906
4    0.184405
dtype: float64

In [12]:
# Usando Pandas para concatenar as séries
serieConcat = pd.concat([seriePD, seriePD1]) ;serieConcat

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
0    0.153667
1    0.336960
2    0.782997
3    0.616906
4    0.184405
dtype: float64

In [13]:
serieConcat[0]

0    0.302074
0    0.153667
dtype: float64

In [15]:
#Contando quantidade de elementos e jogando dentro do indice da série concatenada
serieConcat.index = range(serieConcat.count()) ;serieConcat

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
5    0.153667
6    0.336960
7    0.782997
8    0.616906
9    0.184405
dtype: float64

In [16]:
serieConcat.reindex([0 , 2 , 16 , 21])

0     0.302074
2     0.705643
16         NaN
21         NaN
dtype: float64

In [18]:
#preenchendo valores nulos
serieConcat.reindex([0 , 2 , 16 , 21], fill_value=0)

0     0.302074
2     0.705643
16    0.000000
21    0.000000
dtype: float64

In [20]:
novaSerie = serieConcat.reindex([0 , 2 , 16 , 21]) ;novaSerie

0     0.302074
2     0.705643
16         NaN
21         NaN
dtype: float64

In [21]:
novaSerie.ffill()

0     0.302074
2     0.705643
16    0.705643
21    0.705643
dtype: float64

In [22]:
novaSerie.bfill()

0     0.302074
2     0.705643
16         NaN
21         NaN
dtype: float64

In [23]:
#preenche valores NA com 12
novaSerie.fillna(12)

0      0.302074
2      0.705643
16    12.000000
21    12.000000
dtype: float64

## Operações

In [24]:
s1 = pd.Series(np.random.randn(5)) ;s1

0   -0.607102
1    1.310954
2   -0.666910
3   -0.382729
4   -1.032933
dtype: float64

In [25]:
s2 = pd.Series(np.random.randn(5)) ;s2

0    0.573994
1   -1.185799
2   -0.774248
3   -1.198243
4    1.500574
dtype: float64

In [26]:
s1 + s2

0   -0.033108
1    0.125154
2   -1.441157
3   -1.580972
4    0.467641
dtype: float64

In [27]:
#gravando os dados nos indices 3 a 8
s2.index = list(range(3, 8)) ;s2

3    0.573994
4   -1.185799
5   -0.774248
6   -1.198243
7    1.500574
dtype: float64

In [28]:
s1 + s2 #somou apenas 3 e 4

0         NaN
1         NaN
2         NaN
3    0.191265
4   -2.218732
5         NaN
6         NaN
7         NaN
dtype: float64

In [29]:
s1.reindex(range(10), fill_value=0) + s2.reindex(range(10), fill_value=0)

0   -0.607102
1    1.310954
2   -0.666910
3    0.191265
4   -2.218732
5   -0.774248
6   -1.198243
7    1.500574
8    0.000000
9    0.000000
dtype: float64

In [30]:
s1 = pd.Series(range(1, 4), index=['a', 'b', 'c']) ;s1

a    1
b    2
c    3
dtype: int64

In [31]:
s2 = pd.Series(range(1, 4), index=['a', 'b', 'b']) ;s2

a    1
b    2
b    3
dtype: int64

In [32]:
s1_copy = s1.copy()

In [33]:
s1_copy['a'] = 3

In [34]:
s1_copy

a    3
b    2
c    3
dtype: int64

In [35]:
s1

a    1
b    2
c    3
dtype: int64

In [36]:
# Função map() - versão do Pandas elevando ao quadrado os valores da série
s1.map(lambda x: x ** 2)

a    1
b    4
c    9
dtype: int64

In [37]:
s1_copy.map(lambda x : x ** 2)

a    9
b    4
c    9
dtype: int64